:root {
  --tetris-bg-color: #f1f36d;
  --figure-color: #44dcb1;
  --span-border-color: #000;
}

h1 {
  text-align: center;
}

#wrap {
  position: relative;
  display: inline-block;
  left: 50%; 
  transform: translateX(-50%);
  width: 311px;
}

#tetris-logo {
  position: relative;
  width: 100%;
  height: 197.81px;
  background-image: url("./../img/tetrisLogo.jpg");
  background-size: 100% 100%;
}

#score {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 20px;
  color: #2b259e;
}

.row {
  display: flex;
}
.span {
  width: 30px;
  height: 30px;
  background-color: var(--tetris-bg-color);
  border: 1px solid var(--span-border-color);
}

.span:not(:last-child) {
  border-right: 0;
}

.row:not(:last-child) > .span {
  border-bottom: 0;
}

.figure {
  background-color: var(--figure-color);
}
